@import "bootstrap/_bootstrap";
@import "menu/_cbp";
@import "animations";
@import "component-palate";

body{
    font-family: Lucida Grande, sans-serif;
}

.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    cursor:default;
}

label{
    @extend .no-select;
    font-size: 13px;
    font-weight: 600;
}

body{
    background-color: #ededed;
}

.cbp-vimenu {
    background: #252525;
    z-index:999;
}

.cbp-vimenu li a {
    border-bottom: none;
}

.cbp-vimenu li a:hover,
.cbp-vimenu li:first-child a{
    background: #47a3da;
    color: #fff;
}

.column{
    @extend .no-select;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    height:100%;
}

.menu{
    width:70px;
}

.controls{
    left:70px;
    margin-left:0;

    ul{
        margin:0;
        padding:0;
        list-style-type:none;
    }

    .panel{
        z-index:1;
        top:0;
        bottom:0;
        width:100%;
        position:absolute;
        color: #efefef;
        visibility:hidden;
        padding-left: 10px;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(-1000px, 0, 0);
        -webkit-transition: all 0.5s;
        &.current{
            visibility: visible;
            -webkit-transform: translate3d(0, 0, 0);
            -webkit-transition-delay: 0s;

        }


        &.hue-lights{
            background-color:#00435e;
        }

        &.hue-control{
            background-color:#5e0058;
        }

        legend{
            color:#efefef;
            border-bottom:none;
        }
    }

}

.ui-sortable-helper{
    color:#ff0000;
}


/*
.column-left{
    @extend .no-select;

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    background-color: #efefef;

    //background-color:#252e31;
    //background-color:#24293c;
    color:#efefef;
    height:100%;

    legend{
        color:#efefef;
        border-bottom:none;
    }
    .row-fluid{
        padding-left:10px;
    }

    select{
        outline: none;
    }

    .light{
        background-color:#fff;
        color:#252525;
        padding-top:5px;
        margin-bottom:3px;
    }
}

.column-right{
    height:100%;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
}
*/
