@import "bootstrap/_bootstrap";
@import "menu/_cbp";
@import "utils/animations";
@import "utils/dragndrop";
@import "utils/component-palate";
@import "utils/sliders";
@import "utils/panel-control";
@import "utils/panel-lights";
@import "utils/panel-scenes";
@import "utils/scene-designer";

body{
    font-family: Lucida Grande, sans-serif;
}

input{
    font-family: Lucida Grande, sans-serif;
}

input[type="text"]:focus{
    border-color:#1a1a1a;
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 1px rgba(255, 255, 255, 0.2);
}

input[type="text"]{
    color: #efefef;
    background-color: #2f2f2f;
    border-color:#1a1a1a;
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 1px rgba(255, 255, 255, 0.2);
    font-size:13px;
}

select{
    -webkit-appearance: none;
    background-color: #1a1a1a;
    border-color:#1a1a1a;
    background-image: -webkit-linear-gradient(top, rgb(56,56,56), rgb(37,37,37));
    font-weight:600;
    color: #cacaca;
    line-height:16px;
    font-size:13px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

select:focus{
    outline: 0;
}

.btn{
    background-color: #1a1a1a;
    background-image: -webkit-linear-gradient(top, rgb(56,56,56), rgb(37,37,37));
    border-color:#1a1a1a;
    color: #cacaca;
    text-shadow: none;
    font-size:13px;
}

.btn:hover, .btn:focus{
    background-color: #1a1a1a;
    background-image: -webkit-linear-gradient(top, rgb(56,56,56), rgb(37,37,37));
    border-color:#1a1a1a;
    color: #cacaca !important;
    text-shadow: none;
    background-position: 0 0;
}

.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    cursor:default;
}

label{
    @extend .no-select;
    font-size: 13px;
    font-weight: 600;
}

body{
    background-color: #1d1d1d;
}

.cbp-vimenu {
    background: #1d1d1d;
    z-index:999;
}

.cbp-vimenu li a {
    border-bottom: none;
}

.cbp-vimenu li a:hover,
.cbp-vimenu li:first-child a{
    background: #47a3da;
    color: #fff;
}

.column{
    @extend .no-select;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    height:100%;
}

.menu{
    width:70px;
}

.drag{
    cursor: move;
}


.controls{
    left:70px;
    margin-left:0;
    overflow: hidden;

    ul{
        margin:0;
        padding:0;
        list-style-type:none;
    }

    .panel{
        z-index:1;
        border-left:1px solid #1a1a1a;
        top:0;
        bottom:0;
        width:100%;
        position:absolute;
        color: #cecece;
        visibility:hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);

        &.current{
            visibility: visible;
        }

        .view{
            padding: 0 10px 0 10px;
        }

        legend{
            color:#cecece;
            border-bottom:none;
        }
    }
}

.ui-sortable-helper{
    color:#ff0000;
}
