@import "bootstrap/_bootstrap";
@import "menu/_cbp";
@import "utils/animations";
@import "utils/dragndrop";
@import "utils/component-palate";
@import "utils/sliders";
@import "utils/panel-control";
@import "utils/panel-lights";
@import "utils/panel-scenes";
@import "utils/scene-designer";

body{
    font-family: Lucida Grande, sans-serif;
}

input{
    font-family: Lucida Grande, sans-serif;
}

input[type="text"]:focus{
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color:none;
}

select:focus{
    outline: 0;
}

.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    cursor:default;
}

label{
    @extend .no-select;
    font-size: 13px;
    font-weight: 600;
}

body{
    background-color: #1d1d1d;
}

.cbp-vimenu {
    background: #1d1d1d;
    z-index:999;
}

.cbp-vimenu li a {
    border-bottom: none;
}

.cbp-vimenu li a:hover,
.cbp-vimenu li:first-child a{
    background: #47a3da;
    color: #fff;
}

.column{
    @extend .no-select;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    height:100%;
}

.menu{
    width:70px;
}

.drag{
    cursor: move;
}


.controls{
    left:70px;
    margin-left:0;
    overflow: hidden;

    ul{
        margin:0;
        padding:0;
        list-style-type:none;
    }

    .panel{
        z-index:1;
        border-left:1px solid #1a1a1a;
        top:0;
        bottom:0;
        width:100%;
        position:absolute;
        color: #cecece;
        visibility:hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);

        &.current{
            visibility: visible;
        }

        .view{
            padding: 0 10px 0 10px;
        }

        legend{
            color:#cecece;
            border-bottom:none;
        }
    }
}

.ui-sortable-helper{
    color:#ff0000;
}
