.panel{

    &.hue-lights{
        background-color:#252525;

        .controls{
            .btn{
                float:left;

            }

            .switch{
                float:left;
                margin-top:5px;
                padding-left: 47px;
            }
        }

        #available-lights{
            height:300px;
            overflow-y: auto;
            overflow-x: hidden;
            border:1px solid #1a1a1a;
        }

        .bridge-light{
            background: #2f2f2f;
            margin-bottom:1px;
            @extend .drag;

            .bridge-light-view{
                padding:10px 0 10px 0;

                label{
                    font-size:13px;
                    cursor: move;
                }

                label:before {
                    font-family: 'holodeck';
                    font-size:20px;
                    padding:0 10px 0 10px;

                    content: '\61';
                }
            }
        }
    }
}
